.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0 3px 6px 0 #555;
    width: 100%;
    overflow-x: hidden;
}

.headerIcon {
    width: 48px;
    height: 48px;
    margin: 10px;
}

.searchBox {
    display: flex;
    padding: 10px 10px;
    border-radius: 6px;
    margin-right: 20px;
    width: 200px;
    align-items: center;
    background-color: white;
}

.searchInput {
    color: black;
    font-size: 12px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 15px;
}

.headerTitle {
    color: white;
    font-size: 14px;
}

@media (max-width: 425px) {
    .headerTitle {
        display: none;
    }
}

.logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex: 5;
}

.favHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.favIcon {
    margin: 26px;
}
.heartIcon {
    position: relative;
    color: #ff0000;
    font-size: 22px;
}
.counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 12px;
    margin-top: 12px;
    margin-right: 12px;
}
