.App {
    font-family: sans-serif;
}
.movieListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    gap: 25px;
    justify-content: center;
}

.errorIcon {
    color: red;
    margin: 10px;
}
.errorHeading {
    display: flex;
    align-items: center;
}
